In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
from tqdm import tqdm

In [2]:
#Allowing pandas to display unlimited info
#pd.set_option('display.max_rows', 1000)
#pd.set_option('display.max_columns', 1000)

In [18]:
df = pd.read_csv('zippedData/tmdb_5000_movies.csv')

In [19]:
df = df[['id', 'title', 'budget', 'revenue', 'genres', 'popularity', 'release_date', 'runtime', 'status']]

In [21]:
df

,id,title,budget,revenue,genres,popularity,release_date,runtime,status
0,19995,Avatar,237000000,2787965087,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,2009-12-10,162.0,Released
1,285,Pirates of the Caribbean: At World's End,300000000,961000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,2007-05-19,169.0,Released
2,206647,Spectre,245000000,880674609,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,2015-10-26,148.0,Released
3,49026,The Dark Knight Rises,250000000,1084939099,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,2012-07-16,165.0,Released
4,49529,John Carter,260000000,284139100,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,2012-03-07,132.0,Released
...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,220000,2040920,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",14.269792,1992-09-04,81.0,Released
4799,72766,Newlyweds,9000,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",0.642552,2011-12-26,85.0,Released
4800,231617,"Signed, Sealed, Delivered",0,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1.444476,2013-10-13,120.0,Released
4801,126186,Shanghai Calling,0,0,[],0.857008,2012-05-03,98.0,Released
4802,25975,My Date with Drew,0,0,"[{""id"": 99, ""name"": ""Documentary""}]",1.929883,2005-08-05,90.0,Released

In [12]:
df['revenue'].value_counts()

0           1427
7000000        6
8000000        6
6000000        5
12000000       5
            ...
32726956       1
4420000        1
26096852       1
79817939       1
10680275       1
Name: revenue, Length: 3297, dtype: int64

In [13]:
df['budget'].value_counts()

0            1037
20000000      144
30000000      128
25000000      126
40000000      123
             ...
280000000       1
2053648         1
85000           1
52500000        1
40600000        1
Name: budget, Length: 436, dtype: int64

In [17]:
type(df['genres'][0])

str